@import "./preflight.css";
@import "./components.css";

@import "./components/fonts.css";
@import "./components/buttons.css";
@import "./components/dashboard.css";

@import "./utilities.css";

* {
    font-family: 'Montserrat';
}

.bg-brand-90 {
    background-color: rgba(149,23,39,.9);
}

.bg-secondary-80 {
    background-color: rgba(0,43,96,.8);
}

.input-text {
    @apply .p-2 .border-grey .border .text-grey-darkest .bg-white .w-full .mb-1
}

.quote {
    font-size: 8em;
    font-weight: bold;
    padding: 0 1rem;
    line-height: 1em;
    margin-bottom: -2.5rem;
}